.drop {
  display: inline;
  float: left;
  padding: 0.3em 0.08em 0 0;
  line-height: 0.4em;
  font-size: 3.2em;
}

.text-super {
  font-size: 6rem;
}

.header--main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.header--main .header-wrapper {
  width: 66vw;
  display: grid;
  margin: auto;
  grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
  grid-template-rows: auto 1fr 1fr auto auto;
  grid-gap: 1rem;
  transform: rotate(-45deg);
}

.header--main h1 {
  font-size: calc(1.3rem + 1.8vw);
  margin: 0;
  line-height: 1.2em;
  text-transform: uppercase;
}

.header--main h1:nth-child(1) {
  grid-column: 1 / 5;
  text-align: right;
  padding-top: 25px;
}

.header--main h1:nth-child(2) {
  color: #00e18a;
  writing-mode: vertical-lr;
  grid-column: 3 / 5;
  grid-row: 2 / 5;
  justify-self: end;
  margin-top: -20px;
  margin-right: -10px;
}

.demo-list {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  align-self: end;
  font-weight: 700;
  line-height: 1.2;
}

.follow-links {
  grid-column: 3 / 6;
  grid-row: 5;
  font-size: 0.9rem;
  border-bottom: 25px solid #00e18a;
  align-self: start;
  justify-content: end;
  line-height: 1.3;
  padding-bottom: 5px;
}
