---
import Layout from '../layouts/Layout.astro';

const sections = [
  { link: '#chartJS', title: 'Playing with Chart JS' },
  { link: '#CSS_Grid', title: 'Learning CSS Grid' },
  { link: '#fullBleedHeader', title: 'Laughing with David Letterman' },
  { link: '#CSS_Shapes', title: 'Shaping with Strawberries' },
];
---

<Layout title="David M. Pham — Lab">
  <header class="header--main">
    <div class="header-wrapper">
      <h1>The Experiments in Design</h1>
      <h1>by David Pham</h1>
      <div class="demo-list">
        <ul>
          {
            sections.map((section) => (
              <li>
                <a href={section.link} class="text-green-500 hover:text-green-700">
                  {section.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <p class="follow-links">
        Follow <a href="http://twitter.com/davidpham5" target="_blank" rel="noopener noreferrer"
          >@davidpham5</a
        >
      </p>
    </div>
  </header>

  <section class="container mx-auto w-3/5 mt-10">
    <div id="chartJS" class="mb-8">
      <h2 class="font-bold text-lg mb-3">Playing with ChartJS</h2>
      <p
        data-height="665"
        data-theme-id="dark"
        data-slug-hash="JWOEgX"
        data-default-tab="result"
        data-user="davidpham5"
        data-embed-version="2"
        data-pen-title="Playing with ChartJS"
        class="codepen"
      >
        See the Pen <a href="http://codepen.io/davidpham5/pen/JWOEgX/">Playing with ChartJS</a> by
        David Pham (<a href="http://codepen.io/davidpham5">@davidpham5</a>) on
        <a href="http://codepen.io">CodePen</a>.
      </p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div id="CSS_Grid" class="mb-8">
      <h2 class="font-bold text-lg mb-3">CSS Grid</h2>
      <p
        data-height="565"
        data-theme-id="dark"
        data-slug-hash="MpKrzm"
        data-default-tab="result"
        data-user="davidpham5"
        data-embed-version="2"
        data-pen-title="css grids"
        class="codepen"
      >
        See the Pen <a href="http://codepen.io/davidpham5/pen/MpKrzm/">css grids</a> by David Pham
        (<a href="http://codepen.io/davidpham5">@davidpham5</a>) on
        <a href="http://codepen.io">CodePen</a>.
      </p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div id="fullBleedHeader" class="mb-8">
      <h2 class="font-bold text-lg mb-3">Full Bleed Header</h2>
      <p
        data-height="665"
        data-theme-id="dark"
        data-slug-hash="oZYBRN"
        data-default-tab="result"
        data-user="davidpham5"
        data-embed-version="2"
        data-pen-title="cover sheet demo"
        class="codepen"
      >
        See the Pen <a href="http://codepen.io/davidpham5/pen/oZYBRN/">cover sheet demo</a> by
        David Pham (<a href="http://codepen.io/davidpham5">@davidpham5</a>) on
        <a href="http://codepen.io">CodePen</a>.
      </p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div id="CSS_Shapes" class="mb-8">
      <h2 class="font-bold text-lg mb-3">CSS Shapes: Strawberries</h2>
      <p
        data-height="665"
        data-theme-id="dark"
        data-slug-hash="vxymJa"
        data-default-tab="result"
        data-user="davidpham5"
        data-embed-version="2"
        data-pen-title="css shapes strawberries"
        class="codepen"
      >
        See the Pen <a href="http://codepen.io/davidpham5/pen/vxymJa/">css shapes strawberries</a>
        by David Pham (<a href="http://codepen.io/davidpham5">@davidpham5</a>) on
        <a href="http://codepen.io">CodePen</a>.
      </p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>
  </section>
</Layout>
