---
---

<div class="mt-8">
  <h2 class="font-serif text-4xl border-b mb-5">Work Flow</h2>
  <ul class="list-disc pl-4">
    <li class="pb-2">Preferred IDE: VS Code</li>
    <li class="pb-2">Daily git workflow in Terminal</li>
    <li class="pb-2">
      SCRUM Stand-up meetings to account for yesterday's work and today's focus
    </li>
    <li class="pb-2">Experienced with MVC web development.</li>
    <li class="pb-2">
      Partner with developers and rapidly iterate via Agile Methodologies
    </li>
    <li class="pb-2">
      Web design considers semantic mark-up, standards, accessibility, usability,
      and the latest coding practices.
    </li>
    <li class="pb-2">Not afraid to perform public speaking</li>
  </ul>
</div>
