<div ng-include="heroPartial"></div>
<div class="readability">
	<h1>About</h1>
	<p>
		This small project represents my resume as an AngularJS app. Using, Grunt, NPM, and Yeoman, I scaffolded the basics of the app architecture. I employed SMACSS and BEM principles onto the styles. Furthermore, I integrated some cutting-edge CSS specs like initial letter and css grid. The entire site is responsive and looks great on mobile. Typography choices are Merriweather and Lato. Considerable care was put in to place in removing anything clever, fancy, or unessential.
	</p>
</div>