<h1 class="header">
	{{exp.header}}
</h1>
<div class="exp" ng-repeat="work in exp.experiences">
	<ul class="list-inline">
		<li>
			<h3>
				<a href="{{work.link}}">{{work.company}}</a>
			</h3>
		</li>
		<li class="text-muted">{{work.department}}</li>
	</ul>
	<ul class="list-inline">
		<li>
			<p class="strong">{{work.title}}</p>
		</li>
		<li>
			<span class="text-muted">{{work.start}} - {{work.end}}</span>
		</li>
		<li><span class="text-muted">{{work.location.city}}</span></li>
	</ul>
</div>