<div class="jumbotron bg-white">
    <h1>David Chico Pham</h1>
    <p class="lead">
        Front-End Developer. I build useful and beautiful interfaces.
    </p>
    <div class="avatar">
        <div class="profile-pic round">
            <img ng-if="!publishToGH" src="images/david1.png" alt="personal profile picture"  />
            <img ng-if="publishToGH" src="app/images/david1.png" alt="personal profile picture"  />
        </div>
    </div>
    <br />
    <div class="text-center">
        <ul class="list-inline">
            <li><a href="https://twitter.com/davidpham5" target="_blank"><span class="fa fa-twitter fa-2x">&nbsp;</span></a></li>
            <li><a href="https://github.com/davidpham5" target="_blank"><span class="fa fa-github fa-2x">&nbsp;</span></a></li>
            <li><a href="https://linkedin.com/in/davidmpham" target="_blank"><span class="fa fa-linkedin fa-2x">&nbsp;</span></a>
        </ul>
    </div>
</div>