<div ng-include="heroPartial"></div>
<h1>Playing with ChartJS</h1>
<p data-height="265" data-theme-id="dark" data-slug-hash="JWOEgX" data-default-tab="result" data-user="davidpham5" data-embed-version="2" data-pen-title="Playing with ChartJS" class="codepen">See the Pen <a href="http://codepen.io/davidpham5/pen/JWOEgX/">Playing with ChartJS</a> by David Pham (<a href="http://codepen.io/davidpham5">@davidpham5</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

<br>
<h1>CSS Grid</h1>
<p data-height="565" data-theme-id="dark" data-slug-hash="MpKrzm" data-default-tab="result" data-user="davidpham5" data-embed-version="2" data-pen-title="css grids" class="codepen">See the Pen <a href="http://codepen.io/davidpham5/pen/MpKrzm/">css grids</a> by David Pham (<a href="http://codepen.io/davidpham5">@davidpham5</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

<br>
<h1>Full Bleed Header</h1>
<p data-height="665" data-theme-id="dark" data-slug-hash="oZYBRN" data-default-tab="result" data-user="davidpham5" data-embed-version="2" data-pen-title="cover sheet demo" class="codepen">See the Pen <a href="http://codepen.io/davidpham5/pen/oZYBRN/">cover sheet demo</a> by David Pham (<a href="http://codepen.io/davidpham5">@davidpham5</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

<br>

<h1>CSS Shapes: Strawberries</h1>
<p data-height="665" data-theme-id="dark" data-slug-hash="vxymJa" data-default-tab="result" data-user="davidpham5" data-embed-version="2" data-pen-title="css shapes strawberries" class="codepen">See the Pen <a href="http://codepen.io/davidpham5/pen/vxymJa/">css shapes strawberries</a> by David Pham (<a href="http://codepen.io/davidpham5">@davidpham5</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>