<div class="jumbotron bg-white">
	<h1>David Chico Pham</h1>
	<p class="lead">
		Front-End Developer. I build useful and beautiful interfaces.
	</p>
  	<div class="avatar">
		<div class="profile-pic round">
<!-- 			<img src="images/david1.png" alt="" /> -->
			<img src="app/images/david1.png" alt="" />
		</div>
	</div>
	<br />
	<div class="text-center">
		<ul class="list-inline">
			<li><a href="https://twitter.com/davidpham5" target="_blank"><span class="fa fa-twitter fa-2x">&nbsp;</span></a></li>
			<li><a href="https://github.com/davidpham5" target="_blank"><span class="fa fa-github fa-2x">&nbsp;</span></a></li>	
			<li><a href="https://linkedin.com/davidmpham" target="_blank"><span class="fa fa-linkedin fa-2x">&nbsp;</span></a>		
		</ul>
	</div>
</div>
<div class="row marketing">
 	<div class="col-md-8 main">
<!-- 	 	 <div class="main-section" ng-include="'/views/experiences.html'"></div> -->
	 	 <div class="main-section" ng-include="'app/views/experiences.html'"></div>
	 	 
 	</div>
 	<div class="col-md-4 sidebar">
	 	<div class="sidebar-section">
		 	<h1 class="header">
		 		{{exp.education.header}}
			</h1>
		 	<div class="exp">
		 		<ul class="list-inline">
					<li><h3>{{exp.education.college}}</h3></li>
					<li class="strong">{{exp.education.major}}</li>
					<li class="text-muted">{{exp.education.degree}}</li>
					<li class="text-muted">{{exp.education.gradDate}}</li>
				</ul>
				<p class="text-muted">{{exp.education.funny}}</p>
		 	</div>
	 	</div>
	 	<div class="sidebar-section">
		 	<h1 class="header">
			 	Skills
			 </h1>
		 	<div class="exp">
		 		<ul>
					<li ng-repeat="skill in exp.skills">{{skill}}</li>
				</ul>
		 	</div>
		</div>
		<div class="sidebar-section">
		 	 <h1 class="header">Organizations</h1>
		 	 <div class="exp">
		 		<ul>
					<li ng-repeat="org in exp.org">{{org}}</li>
				</ul>
		 	</div>
	 	</div>
 	</div>
</div>
