<div class="jumbotron bg-white">
  <h1>David Chico Pham</h1>
  <p class="lead">
    Front-End Developer. I build useful and beautiful interfaces.
  </p>
  <div class="avatar">
		<div class="profile-pic round">
			<img src="/images/david1.png" alt="" />
		</div>
	</div>
</div>
<div class="row marketing">
 	<div class="col-md-8" >
	 	 <h1 class="header">{{experiences.header}}</h1>
	 	 <div class="exp" ng-repeat="exp in experiences.experiences">
		 	<ul class="list-inline">
			 	<li><h3>{{exp.company}}</h3></li>
			 	<li class="text-muted">{{exp.department}}</li>
		 	</ul>
	 	 	<ul class="list-inline">
		 	 	<li>
		 	 		<p class="strong">{{exp.title}}</p>
		 	 	</li>
		 	 	<li>
		 	 		<span class="text-muted">{{exp.start}} - {{exp.end}}</span>
		 	 	</li>
		 	 	<li><span class="text-muted">{{exp.location.city}}</span></li>
	 	 	</ul>
		 </div>
 	</div>
</div>
