<div ng-include="'views/hero-partial.html'"></div>

<div class="row marketing">
 	<div class="col-md-8 main" >
	 	 <div class="main-section" ng-include="'views/experiences.html'"></div>
	 	 <div class="main-section" ng-include="'views/vis-comm.html'"></div>
 	</div>
 	<div class="col-md-4 sidebar">
	 	<div class="sidebar-section">
		 	<h1 class="header">
		 		{{exp.education.header}}
			</h1>
		 	<div class="exp">
		 		<ul class="list-inline">
					<li><h3>{{exp.education.college}}</h3></li>
					<li class="strong">{{exp.education.major}}</li>
					<li class="text-muted">{{exp.education.degree}}</li>
					<li class="text-muted">{{exp.education.gradDate}}</li>
				</ul>
				<p class="text-muted">{{exp.education.funny}}</p>
		 	</div>
	 	</div>
	 	<div class="sidebar-section">
		 	<h1 class="header">
			 	Skills
			 </h1>
		 	<div class="exp">
		 		<ul>
					<li ng-repeat="skill in exp.skills">{{skill}}</li>
				</ul>
		 	</div>
		</div>
		<div class="sidebar-section">
		 	 <h1 class="header">Organizations</h1>
		 	 <div class="exp">
		 		<ul>
					<li ng-repeat="org in exp.org">{{org}}</li>
				</ul>
		 	</div>
	 	</div>
 	</div>
</div>
