
<h2>Responsibilities</h2>
<ul class="exp">
	<li ng-repeat="skill in skills">{{ skill }}</li>
</ul>

<h2>Products</h2>
<ul class="exp">
	<li>OneStop 1.0 - 2.8</li>
	<li>CSM Dashboard Analytics</li>
	<li>Accommodate Manager UI 2.0</li>
	<li>Entreprise Dashboard</li>
</ul>

<h2>About Symplicity</h2>
<p>Symplicity is a market leader in enterprise technology and information systems management for higher education, government, and businesses. Symplicity is committed to providing its clients with innovative solutions and services that enable them to streamline business processes, improve performance, and cultivate positive relationships with their students, customers, and communities.</p>
<p>Symplicity offers a comprehensive suite of products for admissions, career services, advising, student conduct, campus life, housing & residence life, and alumni engagement offices. Now reaching more than 30 million students worldwide, Symplicity is the leading provider of student affairs solutions in higher education.</p>
<br>
