<h1 class="header">Visual Communication</h1>
<ul>
	<li>Expert user of integrated developer environments such as Coda2, Sublime Text 3, BBedit</li>
	<li>Really great at using Terminal and Linux commands.</li>
	<li>I am also skilled in several technologies including HTML5, CSS, LESS/SCSS, JavaScript, and AngularJS.</li>
	<li>Experienced with MVC web development.</li>
	<li>Leverage Partner Programming and Agile Methodologies</li>
	<li>Web design considered semantic mark-up, standards, accessibility, usability, and the latest coding practices.</li>
	<li>Superior hand skills include: drawing, prototyping, and white-boarding</li>
	<li>Seasoned public speaker</li>
</ul>
