.navbar-default {
	background-color: #fff;
	border: none;
	margin-bottom: 0;
}
.navbar {
  background-color: #fff;
  font-size: 16px;
}
.branding {
    text-indent: -999px;
    display: block;
    height: 50px;
    width: 50px;
    background-image: url('../images/dp-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.navbar-nav > li > a {
    padding: 10px;
}
.nav > li > a:hover, 
.nav > li > a:focus {
    background-color: transparent;
}
.nav {
    &.flex-end {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
