.navbar-default {
	background-color: #fff;
	border: none;
	margin-bottom: 0;
}
.navbar {
  background-color: #fff;
}
.branding {
    text-indent: -999px;
    display: block;
    height: 50px;
    width: 50px;
    background-image: url('../images/dp-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.nav > li > a:hover, 
.nav > li > a:focus {
    background-color: transparent;
}